<div class="container my-5">

  <div class="d-flex flex-column gap-4">
    @if (posts.length > 0) {
    <div class="scroll-container" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="150"
      (scrolled)="loadMore()">

      @for (post of posts; track post.id) {
      <app-post-component [post]="post" (delete)="onDeletePost($event)" (update)="onUpdatePost($event)"
        (report)="onReportPost($event)">
      </app-post-component>
      }
    </div>
    } @else {
    <div class="text-center py-5 text-secondary">
      <p>No posts yet.</p>
    </div>
    }
  </div>


  @if (showReportModal) {
  <app-report-modal-component [show]="showReportModal" [targetId]="userId" (closed)="showReportModal = false"
    [type]="'post'" [postId]="selectedReportId"></app-report-modal-component>
  }

</div>