<div class="container my-5">

  <!-- Posts List -->
  <div class="d-flex flex-column gap-4">
    @if (posts.length > 0) {
    <div class="scroll-container" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="150"
      (scrolled)="loadMore()">

      @for (post of posts; track post.id) {
      <app-post-component [post]="post" (delete)="onDeletePost($event)" (update)="onUpdatePost($event)"
        (report)="onReportPost($event)">
      </app-post-component>
      }
    </div>
    } @else {
    <div class="text-center py-5 text-secondary">
      <p>No posts yet.</p>
    </div>
    }
  </div>

  
  @if (showReportModal) {
  <div class="modal d-block" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Report Post</h5>
          <button type="button" class="btn-close" (click)="resetReportForm()"></button>
        </div>

        <div class="modal-body">
          <textarea class="form-control mb-2" placeholder="description" rows="4"
            [(ngModel)]="reportDescription"></textarea>
        </div>

        <div class="modal-footer">
          <button class="btn btn-secondary" (click)="resetReportForm()">Cancel</button>
          <button class="btn btn-primary" (click)="saveReport()">Send</button>
        </div>
      </div>
    </div>
  </div>
  }

</div>