body {
  background-color: #f8f9fa;
  font-family: 'Inter', sans-serif;
}

.sidebar-nav a {
  text-decoration: none;
  color: #333;
  transition: color 0.2s ease;
}

.sidebar-nav a:hover {
  color: #0d6efd;
}

.sidebar-nav .nav-link i {
  font-size: 1rem;
}

app-user-section {
  display: block;
  max-height: 80vh;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #ccc transparent;
}

app-user-section::-webkit-scrollbar {
  width: 6px;
}

app-user-section::-webkit-scrollbar-thumb {
  background-color: #c4c4c4;
  border-radius: 10px;
}

app-user-section::-webkit-scrollbar-thumb:hover {
  background-color: #a9a9a9;
}

.custom-shadow {
  box-shadow: var(--bs-box-shadow);

}

@media (max-width: 992px) {
  .sidebar-nav {
    margin-bottom: 1rem;
  }
}
