.modal-backdrop.fade.show {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1040;
}

.modal.fade.show.d-block {
  z-index: 1050;
}

.modal-content {
  border-radius: 10px;
}

textarea.form-control {
  resize: none;
}