.quil-editor {
  min-height: 300px;
}

/* Target Angular Quill editor without renaming classes */
quill-editor {
  display: block;
}

/* Quill container height for better writing space */
.ql-container {
  min-height: 300px;
  border-radius: 12px !important;
}

.ql-toolbar {
  border-top-left-radius: 12px !important;
  border-top-right-radius: 12px !important;
}