.quil-editor {
  min-height: 300px;
}

quill-editor {
  display: block;
}

.ql-container {
  min-height: 300px;
  border-radius: 12px !important;
}

.ql-toolbar {
  border-top-left-radius: 12px !important;
  border-top-right-radius: 12px !important;
}

::ng-deep .custom-quill .ql-editor.ql-blank::before {
  color: var(--text-color) !important;
  opacity: 1 !important;
  font-style: italic;
}